@page
@model RazorSecond.Pages.Medicines.CreateModel

@{
    ViewData["Title"] = "药品信息";
}

<h1>创建</h1>

@* <h4>Stuff</h4> *@
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Medicine.Code" class="control-label"></label>
                <input asp-for="Medicine.Code" class="form-control" />
                <span asp-validation-for="Medicine.Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medicine.Name" class="control-label"></label>
                <input asp-for="Medicine.Name" class="form-control" />
                <span asp-validation-for="Medicine.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medicine.Type" class="control-label"></label>
                <select asp-for="Medicine.Type" class="custom-select" asp-items="Html.GetEnumSelectList<MedicineType>()">
                    <option value="">==请选择==</option>                   
                </select>                    
                <span asp-validation-for="Medicine.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medicine.ReleaseDate" class="control-label"></label>
                <input asp-for="Medicine.ReleaseDate" class="form-control" />
                <span asp-validation-for="Medicine.ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medicine.LeftMonths" class="control-label"></label>
                <input asp-for="Medicine.LeftMonths" class="form-control" />
                <span asp-validation-for="Medicine.LeftMonths" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medicine.Factory" class="control-label"></label>
                <input asp-for="Medicine.Factory" class="form-control" />
                <span asp-validation-for="Medicine.Factory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="创建" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">返回列表</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
