@page
@model RazorSecond.Pages.TreatRecords.CreateModel

@{
    ViewData["Title"] = "接诊记录";
}

<h1>创建</h1>

@* <h4>Stuff</h4> *@
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TreatRecord.Code" class="control-label"></label>
                <input asp-for="TreatRecord.Code" class="form-control" />
                <span asp-validation-for="TreatRecord.Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TreatRecord.Name" class="control-label"></label>
                <input asp-for="TreatRecord.Name" class="form-control" />
                <span asp-validation-for="TreatRecord.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TreatRecord.Age" class="control-label"></label>
                <input asp-for="TreatRecord.Age" class="form-control" />
                <span asp-validation-for="TreatRecord.Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TreatRecord.DoctorId" class="control-label"></label>
                <select asp-for="TreatRecord.DoctorId" class="custom-select" asp-items="Model.Doctors">
                    <option value="">==请选择==</option>
                </select>
                <span asp-validation-for="TreatRecord.DoctorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TreatRecord.MedicineId" class="control-label"></label>
                <select asp-for="TreatRecord.MedicineId" class="custom-select" asp-items="Model.Medicines">
                    <option value="">==请选择==</option>
                </select>
                <span asp-validation-for="TreatRecord.MedicineId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TreatRecord.ReleaseDate" class="control-label"></label>
                <input asp-for="TreatRecord.ReleaseDate" class="form-control" />
                <span asp-validation-for="TreatRecord.ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="创建" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">返回列表</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
